{% extends "base.html" %}

{% block body %}
<section class="container">
	{% for restaurant in restaurants %}
		{% if restaurant.is_active %}
		<div class="restaurant-container">
			<div class="main-info">
				<a class="restaurant" href="{% url 'restaurant:menu' restaurant.id %}">
					<h4> {{ restaurant.name }} </h4>
				</a>
				<p>{{ restaurant.address|title }}</p>
				<a href="{{ restaurant.url }}" target="_blank" title="Direct link to restaurant">
					Direct link to restaurant
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
			{% if restaurant.address %}
			<iframe src="https://kartta.paikkatietoikkuna.fi/published/fi/19532910-5a95-454e-a8c6-aa569f127a16"
	            allow="geolocation" style="border: none; width: 600px; height: 200px;" id="{{restaurant.name}}"
				data-address="{{restaurant.address}}" data-id="{{restaurant.pk}}"></iframe>
			{% endif %}
		</div>
		{% endif %}
	{% endfor %}
	{% if restaurants %}
		{% include "includes/maps.html" %}
	{% endif %}
</section>
{% endblock %}

